/* ------------ Header ------------ */

.page-logo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.page-logo h1 a {
    font-family: 'Faster One', cursive;
    font-size: 48px;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
}
