/* ------------ Homepage ------------ */

.homepage-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.homepage-body .image-start {
    width: 220px;
    height: auto;
    margin-top: 15px;
}

.homepage-body .start-button {
    margin: 40px 20px 45px 20px;
}

.homepage-body .start-button a {
    display: block;
    font-size: 24px;
    background-color: #ec524b;
    color: white;
    padding: 10px 20px 16px 20px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.homepage-body .start-button a span {
    font-family: 'Faster One', cursive;
    letter-spacing: 2px;
    text-shadow: -7px 5px black;
    text-transform: capitalize;
    margin-left: 10px;
    transition: 0.3s;
    font-size: 35px;
}

.homepage-body .start-button a:hover {
    background-color: black;
}

.homepage-body .start-button a:hover span {
    color: #ec524b;
    text-shadow: -7px 5px white;
}

.homepage-body>.leaderboard>h2 {
    font-size: 20px;
    background-color: black;
    padding: 15px 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.homepage-body>.leaderboard>h2>.mdi {
    margin: 0 10px;
}

.homepage-body .leaderboard-list {
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-body .leaderboard-list li {
    padding: 5px;
    width: 100%;
    border-left: solid 3px black;
    border-right: solid 3px black;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.homepage-body .leaderboard-list li::before {
    content: "🏁";
    width: 20px;
    height: fit-content;
    font-size: 25px;
    margin-right: 10px;
}

.homepage-body .leaderboard-list li:first-child::before {
    content: "🥇";
}

.homepage-body .leaderboard-list li:nth-child(2)::before {
    content: "🥈";
}

.homepage-body .leaderboard-list li:nth-child(3)::before {
    content: "🥉";
}

.homepage-body .leaderboard-list li:last-child {
    border-bottom: solid 3px black;
}

/* ------------ Responsive ------------ */

@media screen and (max-width: 390px) {
    .homepage-body .start-button a {
        font-size: 22px;
        padding: 10px 15px 16px 15px;
    }

    .homepage-body .start-button a span {
        font-size: 32px;
    }

    .homepage-body .leaderboard h2 {
        font-size: 19px;
    }
}
