/* ------------ Homepage ------------ */

.homepage-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage-body .image {
    position: absolute;
    background-position: center;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;
    z-index: -1;
}

.homepage-body .image.start-image {
    background-image: url('../../images/question.svg');
    top: 100px;
}

.homepage-body .start-button {
    margin: 40px 20px 45px 20px;
}

.homepage-body .start-button a {
    display: block;
    font-size: 24px;
    background-color: #ec524b;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.homepage-body .start-button a:hover {
    background-color: black;
}

.homepage-body>.leaderboard>h2 {
    font-size: 20px;
    /* background-color: #f3eac2; */
    padding: 15px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.homepage-body .leaderboard-list {
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.homepage-body .leaderboard-list li {
    margin: 3px;
}

.homepage-body .leaderboard-list li:first-child{
    font-size: 24px;
    color: goldenrod;
}

.homepage-body .leaderboard-list li:nth-child(2) {
    font-size: 21px;
    color: silver;
}

.homepage-body .leaderboard-list li:nth-child(3) {
    font-size: 18px;
    color: blue;
}