/* ------------ Homepage ------------ */

.homepage-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage-body .start-button {
    margin: 40px 20px 45px 20px;
}

.homepage-body .start-button a {
    display: block;
    font-size: 24px;
    background-color: #ec524b;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.homepage-body .start-button a:hover {
    background-color: black;
}

.homepage-body>.leaderboard>h2 {
    font-size: 20px;
    background-color: black;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.homepage-body .leaderboard-list {
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: solid 3px black;
}

.homepage-body .leaderboard-list li {
    margin: 3px;
    width: 100%;
    border-bottom: solid 1px black;
}

.homepage-body .leaderboard-list li:first-child{
    font-size: 24px;
    color: goldenrod;
}

.homepage-body .leaderboard-list li:first-child::before {
    content: "🥇";
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.homepage-body .leaderboard-list li:nth-child(2) {
    font-size: 21px;
    color: silver;
}

.homepage-body .leaderboard-list li:nth-child(2)::before {
    content: "🥉";
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.homepage-body .leaderboard-list li:nth-child(3) {
    font-size: 18px;
    color: blue;
}

.homepage-body .leaderboard-list li:nth-child(3)::before {
    content: "🥉";
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
}