/* ------------ Master CSS ------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  /* background-color: #A0FFEE; */
  /* background-color: #F08080; */
  background-color: #9ad3bc;
}
