/* ------------ Quizz ------------ */

.quizz-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.quizz-body .question {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    margin: 15px 40px 20px 40px;
    max-width: 650px;
}

.quizz-body .image-question {
    width: 220px;
    height: auto;
    margin: 15px 0px;
}

.quizz-body .answers {
    display: flex;
    flex-direction: column;
}

.quizz-body .answers .radiocontainer {
    background-color: #ec524b;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 22px 12px 12px;
    margin: 8px 20px;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.quizz-body .answers .radiocontainer:hover {
    background-color: black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.radiocontainer input {
    cursor: pointer;
    margin-right: 10px;
    width: 18px;
    height: 18px;;
}

.answerbutton {
    background-color: black;
    padding: 12px 20px;
    color: white;
    border: none;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.answerbutton:hover,
#nextButton:hover {
    background-color: #ec524b;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* ------------ Responsive ------------ */

@media screen and (max-width: 390px) {
    .quizz-body .image-question {
        display: none;
    }
}