/* ------------ Quizz ------------ */

.quizz-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.quizz-body .question {
    font-size: 25px;
    font-weight: bold;
    margin: 30px 40px 40px 40px;
    max-width: 650px;
}

.quizz-body .image-question {
    width: 220px;
    height: auto;
    margin-top: 15px;
}

.quizz-body .answers {
    display: flex;
    flex-direction: column;
}

.quizz-body .answers .radiocontainer {
    background-color: #ec524b;
    display: block;
    position: relative;
    padding: 12px 24px;
    margin: 8px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.quizz-body .answers .radiocontainer:hover {
    background-color: black;
    padding: 16px 30px;
    margin: 4px;
}

.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 19px;
    width: 19px;
    background-color: #fff;
    border-radius: 50%;
}