/* ------------ Quizz ------------ */

.quizz-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quizz-body .question {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

.quizz-body .answers {
    display: flex;
    flex-direction: column;
}

.quizz-body .answers .image {
    position: absolute;
    background-position: center;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;
    z-index: -1;
}

.quizz-body .answers .image.image1 {
    background-image: url('../../images/quizz1.svg');
    left: 20px;
}

.quizz-body .answers .image.image2 {
    background-image: url('../../images/quizz2.svg');
    right: 20px;
}

.quizz-body .answers ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.quizz-body .answers .answer-list li {
    padding: 10px 20px;
    margin: 5px;
    background-color: #ec524b;
    font-size: 15px;
    border-radius: 5px;
}