/* ------------ Results ------------ */

.results-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.results-body .score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.results-body .score-section h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-body .score-section h2::before {
    content: "🏆";
    height: fit-content;
    width: fit-content;
    font-size: 50px;
}

.results-body .score-section .score-box {
    font-size: 40px;
    font-weight: bold;
    background-color: #ec524b;
    border-radius: 50%;
    height: 150px;
    width: 150px;

}

.results-body .username-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-body .username-section form .username-input {
    margin: 20px;
    width: 150px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px black;
}

.results-body .username-section form .username-input:focus {
    outline: none;
}

.results-body .username-section form button{
    background-color: black;
    padding: 10px;
    color: white;
    border: none;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}